<% var IS_DEV_SERVER = htmlWebpackPlugin.options.isDevServer %>
<% var IS_DEV = htmlWebpackPlugin.options.isDev %>

<!DOCTYPE html>
<html lang=se >
<head>

	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<% if (!IS_DEV_SERVER) { %>
		<?- title ?>
		<?- meta ?>
		<?- link ?>
	<% } %>
</head>
<body>
	<div id='root'><%= IS_DEV_SERVER ? '' : '<?- markup ?>' %></div>

	<script>var __DATA__ = <%= (IS_DEV_SERVER) ? false : '<?- insertData ?>' %>; </script>

	<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js %>"></script>
	<link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.css %>">
</body>
</html>
